
 .foto {
     text-align: center;
 }
 a:link {
    color: black;
}
a:visited {
    color: black;
}
a:hover {
    color: green;
}
a:hover.receptes {
    color: burlywood;
}
a {
    text-decoration: none;
}
a.lletra {
    margin-top: 10px;
    margin-bottom: 10px;
    font-style: oblique;
    font-size: 20px;
    padding: 3px;
}

 .titol {
    background-color:  #7ABA96;
    text-align: center;
}
.imatges {
    text-align: center;
    border: #7ABA96 5px double;
}
.side {
    background-color: #F1F1F1;
    border: #7ABA96 5px double;
    padding: 2%;
}
footer.abaix {
    padding: 1%;
}
a.footer {
    font-style: oblique;
    font-size: 18px;
    padding: 5px;
    color: white;
    vertical-align: middle;
}
nav.middle {
    vertical-align: middle;
    text-align: center;
}